@{
    ViewData["Title"] = "Create Video";
}
<h1 class="text-center">Videó rögzítő</h1>




<div class="container">

    <form action="post" method="post" class="form-signin">
        <h3 class="form-signin-heading">Új videók rögítése</h3>
        <label for="VideoName" class="sr-only"></label>
        <input id="VideoName" name="VideoName" class="form-control" placeholder="Videó címe" autofocus="">
        <label for="VideoUrl" class="sr-only"></label>
        <input type="VideoUrl" id="text" name="VideoUrl" class="form-control" placeholder="Videó URL">
        <label for="PositionId" class="sr-only"></label>
        <input type="PositionId" id="PositionId" name="PositionId" class="form-control" placeholder="Pozíció">
        <br />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Mentés</button>
    </form>
</div>


