{
    ViewData["Title"] = "Create Video";
}
<h1>@ViewData["Title"]</h1>

<p>Új videók rögítése</p>


<div class="container">

    <form action="post" method="post" class="form-signin">
        <h2 class="form-signin-heading">Regisztáció</h2>
        <label for="EmloyeeName" class="sr-only"></label>
        <input id="EmloyeeName" name="username" class="form-control" placeholder="Név" autofocus="">
        <label for="email" class="sr-only"></label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail">
        <label for="" class="sr-only"></label>
        <input type="text" id="email" name="email" class="form-control" placeholder="">
        <br />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Belépés</button>
    </form>
</div>
