@model Course2.Models.Employee


<div class="text-center">
<h1>Regisztráció</h1>
<p>Regisztrálj, hogy a szakmai videók megtekintésért</p>
</div>


 <div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmloyeeName" class="control-label"></label>
                <input asp-for="EmloyeeName" class="form-control"/>
                <span asp-validation-for="EmloyeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmloyeeEmail" class="control-label"></label>
                <input asp-for="EmloyeeEmail" class="form-control"/>
                <span asp-validation-for="EmloyeeEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <input asp-for="PositionId" class="form-control"/>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Regisztáció" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}