
@{
    ViewData["Title"] = "Szakmai videó";
}

<div class="text-center">
    <h1 class="display-4">Oktató videók</h1>
    <p>Professzionális szakmai tartalmak</p>
</div>

 <br/>

<div class="container">
    
    <form action="post" method="post" class="form-signin">
        <h2 class="form-signin-heading">Bejelentkezés</h2>
        <label for="username" class="sr-only"></label>
        <input id="username" name="username" class="form-control" placeholder="Név" autofocus="">
        <label for="email" class="sr-only"></label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Entry">Belépés</button>
    </form>
</div>

<br/>
<hr/>
<hr/>
<br />

<div class="VideoList">
    <table class="table">
        <tr>
            <th>
                Video
            </th>
            <th>
               
            </th>
            <th style="min-width: 110px">
                Lejátszás
            </th>
            
        </tr>

 
        

        @foreach (var video in ViewBag.videos)
        {

            <tr class="videolist">
                <td>
                    @video.VideoName
                </td>

                <td>
                    @*<a href="@video.videoURL" target="_blank">Megtekintés</a>*@ 
                </td>


                <td>
                    <div class="videoIcon">
                        <a href="@video.videoURL" target="_blank"><img src="~/lib/play.png" width="25px" height="25px" alt="Play"></a>
                    </div>
         
                </td>

            </tr>
        }


    </table>
</div>