@model Course2.Models.Employee


@{
    ViewData["Title"] = "Szakmai videó";
}

<div class="text-center">
    <h1 class="display-4">Oktató videók</h1>
    <p>Professzionális szakmai tartalmak</p>
</div>

<br>

@if (ViewBag.SuccessLogInEmp != null)
{
    <div class="LogInIcon">
        <i class="fa fa-male" style="color: forestgreen; margin-bottom: 20px"> Üdvözöllek  @ViewBag.SuccessLogInEmp</i>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.FailedLogIn == true)
            {
                <div class="alert alert-danger">@ViewBag.FailedMessage</div>
            }
            <div class="form-group">
                <label asp-for="EmloyeeName" class="control-label"></label>
                <input asp-for="EmloyeeName" class="form-control" />
                <span asp-validation-for="EmloyeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmloyeeEmail" class="control-label"></label>
                <input asp-for="EmloyeeEmail" class="form-control" />
                <span asp-validation-for="EmloyeeEmail" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Belépés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<hr />
<hr />

@if (ViewBag.videos != null)
{
    <div class="VideoList">
        <table class="table">
            <tr>
                <th>
                    Video
                </th>
                <th>

                </th>
                <th style="min-width: 110px">
                    Lejátszás
                </th>
            </tr>


            @foreach (var video in ViewBag.videos)
            {
                <tr class="videolist">
                    <td>
                        @video.VideoName
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="videoIcon">
                            <a href="@video.videoURL" target="_blank"><img src="~/lib/play.png" alt="Play" width="25" height="25" onclick="videoCheck()"></a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
