html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.videoIcon {
    border: none;
    height: 25px;
    width: 25px;
}

#footer{
    align-content: center;
}

.videolist {
    height: 50px;
}

#center{
    align-content: center;
}